.comment
  %h1 
    ==Comment #{@comment.id} for #{@comment.item.identification}
  %table
    -if @comment.user
      %tr
        %td.label
          Nutzer:
        %td.content
          =@comment.user.username 
    -if @comment.author
      %tr
        %td.label
          Autor:
        %td.content
          =@comment.author
    -if @comment.author_email
      %tr
        %td.label
          Autor E-Mail:
        %td.content
          =link_to @comment.author_email, "mailto:#{@comment.author_email}"
    -if @comment.author_url
      %tr
        %td.label
          Autor URL:
        %td.content
          =link_to @comment.author_url, "#{@comment.author_url}"
    %tr
      %td.label
        Text:
      %td.content
        =prepare_text(@comment.body, :sanitize => true)
