<style type="text/css">
  a {
    text-decoration: underline;
  }
</style>
<h1>Das muss weg!</h1>
<table>
<% books.each do | book | %>
  <b>Author:</b> <%= book.author %><br>
  <b>Title:</b> <%= book.title %><br>
  <b>Info:&nbsp;</b><a href="https://www.goodreads.com/search?query=<%= book.isbn %>" target="dasmussweginfo">Goodreads</a> |
    <a href="http://www.amazon.de/s/?field-keywords=<%= book.isbn %>" target="dasmussweginfo">Amazon</a><br>
  <hr>
<% end %>
</table>