<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/storyteller.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">

      <%= yield %>

     <div class="footer">
        <a href="mailto:kontakt@juergenalbertsen.de">Kontakt</a>
      </div>

    </div>
  </body>
</html>