%ul
  -Section.find_all_for_navigation.each do |s|
    %li
      %a{:href => "#{s.path}"}
        =s.name
  %li
    =link_to "Kontakt", contact_url
  %li.newsection
    %a{ :href => "http://twitter.com/_albertsen" } Twitter
  %li
    %a{ :href => "http://www.facebook.com/juergenalbertsen" } Facebook
  %li.newsection
    %a{ :href => "http://alt.juergenalbertsen.de/" } Alte Seite
  %li.search
    %form{ :method => "get", :action => search_path}
      %input{ :type => "text", :name => "s", :value => params[:s] }
      %br/
      %input{ :type => "submit", :value => "Suche" }
  -if logged_in?
    %li.newsection
      =link_to "Neue Geschichte", new_item_url( :type => "Story" )
    %li
      =link_to "Medien", media_url
    %li
      =link_to "Unsichtbar", invisible_items_url
    -if (bait = Item.find_bait)
      %li
        =link_to "Köder", edit_item_url(bait)
    %li
      =link_to "Logout", logout_path(:request_uri => request.request_uri)