.comment_form
  %h1 Neuer Kommentar
  -if flash[:error]
    .error
      =flash[:error]
  =validation_errors_for @comment, "Fehler:"
  -form_for :comment, @comment, :url => { :controller => "items", :action => "add_comment", :id => @item.id, :anchor => "comment_form" } do |form|
    =hidden_field_tag :redirect_uri, deep_item_url(@item)
    %ul  
      -unless logged_in?
        %li
          =form.label :author, "Name"
          =form.text_field :author, :maxlength => 30
        %li
          =form.label :author, "E-Mail"
          =form.text_field :author_email, :maxlength => 100
        %li
          =form.label :author_url, "Homepage-URL"
          =form.text_field :author_url, :maxlength => 255
      %li
        =form.label :body, "Text"
        =form.text_area :body, :rows => 10
      %li
        %input{:type => "submit", :value => "Senden"}