%div{ :class => "item #{item.section}"}
  -unless item.title.blank?    
    %h1
      =link_to item.title, deep_item_url(item)
  .body
    -if item.teaser.blank?
      =prepare_text(item.first_body_part)
      -if item.body_has_more_parts?    
        .more                    
          =link_to "Weiter...",   deep_item_url(item)
    -else
      =prepare_text(item.teaser)
      .more                    
        =link_to "Lesen...",   deep_item_url(item)
  =render :partial => "items/meta", :locals => { :item => item }