-if @previous_page || @next_page
  #trail
    -if @previous_page
      .previous
        %a{ :href => url_for_page(@previous_page) } Neuer
        &larr;
    -if @next_page
      .next
        &rarr;
        %a{ :href => url_for_page(@next_page) } Älter