-rendered_action = File.basename(__FILE__, File.extname(__FILE__))
=render :partial => "form", :locals => { :url => item_path(@item), :action => "Save", :method => "put", :rendered_action => rendered_action}