-content_for :title do
  -unless @item.title.blank?
    =@item.title
  -else
    =@item.section.name
-content_for :subheader do
  %a{:href => @item.section.path} 
    =@item.section.name  
-if logged_in?
  -content_for :head do
    :javascript
      function open_comment_info(url) {
        win = window.open(url, "comment_info", "width=600,height=400,status=no,scrollbars=yes,resizable=yes,menubar=no,toolbar=no,location=no");
        win.focus();
      }    
%div{ :class => "item #{@item.section.slug}"}
  -unless @item.title.blank?
    %h1
      =@item.title
  -if has_pdf(@item)
    #pdf-link
      ==[#{link_to 'als PDF', pdf_url_path_for(@item)}]
  .body
    =prepare_text(@item.body)  
  .meta
    =format_date(@item.created_at)
    -if logged_in?
      &nbsp;&mdash;&nbsp;
      =link_to "Edit", edit_item_url(@item)
  =render :partial => "comments"