-content_for :title do
  Medien
#media
  %h1.top Search
  #search
    -form_tag({ :controller => "media" }, { :method => "get"  }) do
      =text_field_tag :search, params[:search], :id => "search_expression"
      %input{ :type => "submit", :value => "Search" }/
      -url = url_for({ :controller => "media" })
      %input{ :type => "button", :value => "Reset", :onclick => "document.location.href = '#{url}'"}/
  #files
    %h1 
      Files
    %table
      -@media.each do |medium|
        %tr
          %td.file
            %a{ :href => medium.url_path }
              =medium.filename
          %td.destroy
            =link_to "Delete", medium_path(medium, :redirect_uri => request.request_uri), :method => "delete", :confirm => "Sure?"
  #upload-form
    %h1 Upload
    -form_tag({ :controller => "media", :action => "upload" }, { :multipart => true  }) do
      =hidden_field_tag :redirect_uri, request.request_uri
      =file_field_tag :file
      =submit_tag "Upload"