
  p.p1 {margin: 0.31em 0.0em 0.0em 0.0em; text-align: center; text-indent: 0.0em; font-size: 138%}
  p.p2 {margin: 0.31em 0.0em 0.0em 0.0em; text-align: center; text-indent: 0.0em; font-size: 185%}
  p.p3 {margin: 0.0em 0.0em 0.0em 0.0em; text-align: center; text-indent: 0.0em; font-size: 185%}
  p.p4 {margin: 0.0em 0.0em 0.0em 0.0em; text-align: center; text-indent: 0.0em; font-size: 185%; min-height: 27.0px}
  p.p5 {margin: 0.31em 0.0em 0.0em 0.0em; text-indent: 0.0em}
  p.p6 {margin: 0.31em 0.0em 0.0em 0.0em; text-indent: 1.85em}
  p.p7 {margin: 0.31em 0.0em 0.0em 0.0em; text-indent: 1.85em; min-height: 15.0px}
  p.p8 {margin: 0.31em 0.0em 0.0em 0.0em; text-indent: 2.75em}
  p.p9 {margin: 0.31em 0.0em 0.0em 0.0em; text-indent: 2.75em; min-height: 15.0px}
  p.p10 {margin: 0.31em 0.0em 0.0em 0.0em; text-indent: 2.78em}
 