<div class="jumbotron">
  <h1>Jürgen Albertsen</h1>
  <p class="lead">Geschichten</p>        
</div>

<div class="row marketing toc">
  <% stories.each do | k, v | %>
    <h3><a href="/stories/<%= k %>"><%= v['title'] %></a></h3>
    <p><a href="/stories/<%= k %>"><%= v['teaser'] %> (<span class="read-more">Weiterlesen&hellip;</span>)</a></p>
  <% end %>
</div>

