!!! XML UTF-8
!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css"}
    = auto_discovery_link_tag(:rss, feed_url)
    %title
      J체rgen Albertsen erz채hlt
  %body.home
    #home
      #header
        %h1
          J체rgen Albertsen
        %h2
          erz채hlt
      #image
        %img{ :src => "/images/home.jpg"}
      #contents
        -@sections.each do |section|
          =link_to section.name, section.path
      -unless @bait.blank?
        #bait
          =prepare_text(@bait.body)