-title = yield :title
-subheader = yield :subheader
!!! XML UTF-8
!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css"}
    = auto_discovery_link_tag(:rss, feed_url)
    =yield :head
    %title
      Jürgen Albertsen
      -unless title.blank?
        ="- #{title}"
  %body
    #page
      #header
        %h1 
          %a{:href => "/"} Jürgen Albertsen
        -unless subheader.blank? and title.blank?
          %h2 
            ="#{subheader|| title}"
      #navigation
        =render :partial => "partials/navigation"
      #content
        =yield
    =render :partial => "partials/google_analytics"